@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,400italic,600,700,600italic,700italic);

.show-grid {
    margin: 0 !important;
    width: 100% !important;
}
#topRightPic{
    width: 100%;
}
#mainLogo{
    width: 100%;
}
p{
    color: black;
}
.aboutUs{
    font-size: large;
}
.aboutUsHeader{
    color: black;
    text-align: left;
}
