@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,400italic,600,700,600italic,700italic);

.show-grid {
    margin: 0 !important;
    width: 100% !important;
}
.home-row .col-md-8{
padding-right: 0;
}
.aboutus-row .col-md-8{
padding-left: 0;
}

.main-container{
  padding: 0;
}
#topRightPic{
    width: 100%;
}
#mainLogo{
    width: 90%;
    margin-left: 30px;
}
p{
    color: black;
}
.aboutUs{
    font-size: medium;
}
.aboutUsHeader{
    color: black;
    text-align: left;
}
.home-row .col-md-8 {
padding-right: 0;

}
.home-row .col-xs-12 {
padding-left: 0;
}
.aboutUs .col-xs-12 {
padding-right: 0;
}
.topicRightPic{
   position: relative; 
}

.rightText{
    bottom: 0;
    position: absolute;
    background-color: #E78898;
    padding: 75px;
    color: #FFF6C3;
}
.mapText{
    position: absolute;
    background-color: #E78898;
    padding: 75px;
    color: #FFF6C3;
}