.ReactTable{
  width: 80%;
  margin: 2% 10% 5% 10%;
  text-align: center;
}
.ReactTable.-striped .rt-tr.-odd{
  background: #E78898;
  color: white;
}
.productTable .contactusButton{
  margin-bottom: 5% !important;
}